<br>
<mat-card class="card">
    <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
    </mat-form-field>
</mat-card>
<br>
      <table id="bookListTable" [dataSource]="dataSource" matSort mat-table class="mat-elevation-z8">
          <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
            </tr>
 
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>
          <ng-container matColumnDef="author">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
              <td mat-cell *matCellDef="let element"> {{element.author}} </td>
          </ng-container>
          <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>
          <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
              <td mat-cell *matCellDef="let element"> {{element.category}} </td>
          </ng-container>
          <ng-container matColumnDef="format">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Format </th>
                <td mat-cell *matCellDef="let element"> {{element.format}} </td>
            </ng-container>
          <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Active? </th>
              <td mat-cell *matCellDef="let element"> {{element.active}} </td>
        </ng-container>
        <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> View </th>
                <td mat-cell *matCellDef="let element"><button mat-raised-button id="viewBook" (click)="viewBook(element)">View book</button></td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
            <td mat-cell *matCellDef="let element"><button mat-raised-button id="deleteBook" (click)="openDeleteDialog(element.id)">Delete book</button></td>
      </ng-container>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    <button mat-raised-button class="mat-warn" id="deleteSelected" (click)="removeSelectedBooks()">Delete Selected</button>

  